<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    Eindwerk Yanni
  </title>
  <meta name="description" content="Simple landind page" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <link rel="stylesheet" href="../public/stylesheets/general.css" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />

  <style>
    body {
      font-family: "Proxima Nova, Regular"
    }

    .gradient {
      background: #082434;
    }
  </style>

</head>

<body class="leading-normal tracking-normal text-black" style="font-family: 'proxima-nova', sans-serif;">
  <!--Nav-->
  <nav id="header" class="fixed w-full z-30 top-0 bg-white text-black">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
      <div class="pl-4 flex items-center">
        <a class="no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="/">
          PRIVATEER
        </a>
      </div>
      <a href=".//" class="mr-6 text-red-500">Stop test</a>

      </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
  </nav>

  <!--Hero-->
  <div class="pt-24 bg-white h-screen">
    <div class="container bg-white px-8 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <div class="w-full flex justify-center mt-3">
        <p class="text-sm opacity-40 ">Question 3 of 5</p>
      </div>

      <h1 class="w-full my-3 text-2xl lg:text-4xl font-bold">
        <div class="w-full text-center">Thanks for accepting our cookies</div>
      </h1>

      <div class="mt-6 mb-8">
        <img src="public/images/SVG/cookie.svg" class="h-40 centerEl"></img>
      </div>

      <div class="w-11/12">
        <p class="leading-normal text-sm opacity-80 lg:text-2xl mb-6 text-center" style="line-height: 160%;">
          You agreed to:
        </p>
        <p class="leading-normal text-sm opacity-80 lg:text-2xl mb-6" style="line-height: 160%;">
          • Us <b></b>selling</b> your <b>personal data</b> (name,
          surname)<br>
          • Giving us <b>your password</b> for our
          website<br>
          • Holding Your data even though our
          website <b>isn't secured</b><br>
          • Giving us <b>your location</b>
        </p>
      </div>
    </div>

    <div class="w-full mb-16">
      <a href="./q3yes2"
        class="cursor-pointer flex justify-center mainColor shadowBtn z-10 mx-auto lg:mx-0 hover:underline text-white font-bold rounded-lg w-52 my-2 py-4 px-8 flex items-center shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
        <span class="opacity-80">Next</span>
        <img class="pl-2" src="public/images/SVG/new/Group 92.svg"></img>
      </a>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="public/scripts/script.js"></script>
  <script src="public/scripts/q1.js"></script>
</body>

</html>