<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    Eindwerk Yanni
  </title>
  <meta name="description" content="Simple landind page" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <link rel="stylesheet" href="../public/stylesheets/general.css" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />

  <style>
    body {
      font-family: "Proxima Nova, Regular"
    }

    .gradient {
      background: #082434;
    }
  </style>

</head>

<body class="leading-normal tracking-normal text-white" style="font-family: 'proxima-nova', sans-serif;">
  <!--Nav-->
  <nav id="header" class="fixed w-full z-30 top-0 bg-white text-black">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
      <div class="pl-4 flex items-center">
        <a class="no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="/">
          PRIVATEER
        </a>
      </div>
      <div class="block lg:hidden pr-4">
        <button id="nav-toggle"
          class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
          <svg class="h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="fill: black;">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-gray-100 lg:bg-transparent text-black p-4 lg:p-0 z-20"
        id="nav-content">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="mr-3">
            <div class="flex">
              <a class="inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4 w-1/2" href="./cookies">Cookies</a>

              <div  class="w-1/2 flex items-center justify-end">
                <img src="public/images/SVG/cookie-black.svg" class="w-6"></img>
              </div>
            </div>
          </li>
          <li class="mr-3">
            <div class="flex">
              <a class="inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4 w-1/2" href="./browser">Browser</a>

              <div  class="w-1/2 flex items-center justify-end">
                <img src="public/images/SVG/new/browser icon-black.svg" class="w-6"></img>
              </div>
          </div>
          </li>
          <li class="mr-3">
            <div class="flex">
              <a class="inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4 w-1/2"href="./ipaddress">Location</a>
              
              <div  class="w-1/2 flex items-center justify-end">
                <img src="public/images/SVG/locatie-black.svg" class="w-6"></img>
              </div>
            </div>
          </li>
          <li class="mr-3">
            <div class="flex">
              <a class="inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4 w-1/2" href="./socialmedia">Social Media</a>

              <div  class="w-1/2 flex items-center justify-end">
                <img src="public/images/SVG/new/Icon awesome-facebook-black.svg" class="w-6"></img>
              </div>
            </div>
          </li>
          <li class="mr-3">
            <div class="flex">
              <a class="inline-block no-underline hover:text-gray-800 hover:text-underline py-2 px-4  w-1/2" href="./webcams">Webcams</a>

              <div class="w-1/2 flex items-center justify-end">
                <img src="public/images/SVG/new/webcam-black.svg" class="w-6"></img>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
  </nav>

  <!--Hero-->
   <div class="pt-24 bg-white">
    <div class="container bg-white px-8 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <div class="flex flex-col w-full justify-center text-center">
        <div class="mt-6 ">
          <img src="public/images/SVG/new/webcamkleur.svg" class="h-32 centerEl"></img>
        </div>

        <h1 class="my-3 text-xl lg:text-4xl text-black font-bold leading-tight">
          Webcams
        </h1>
        <p class="leading-normal text-sm opacity-80 text-black lg:text-2xl mb-8">
          In 2021 over 200 million laptops and over 160
          million tablet units were shipped around the
          world, Almost all webcams and tablets have a
          webcam that most people don't tend to cover.
          More than 15,000 private, web-connected
          cameras are exposed and readily accessible to
          the general public. This is called 'camfecting'.
        </p>
      </div>
      <!--Right Col-->
      <div class="w-full md:w-3/5 py-3 text-center">
      </div>
    </div>
  </div>
  <div class="w-full bg-transparent">
    <svg width="100%" height="100%" viewBox="0 0 389 56" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.78598e-07 36.5C1.78598e-07 36.5 22.5 1.61236 126 14C288.5 29.1024 389 14.3706 389 1.61236C389 -11.1459 389 56 389 56H1.78598e-07L1.78598e-07 36.5Z" fill="#082434"/>
      </svg>
      
   </div>

  <div class="gradient">
  <section class="container mx-auto pb-6 pb-12 text-white">
    <div class="container px-8 mx-auto flex flex-wrap flex-col md:flex-row">
      <div class="flex flex-col mb-3">
        <img src="public/images/SVG/new/what is camfecting icon.svg" class="w-6"></img>
      </div>

      <h1 class="w-full my-3 text-xl lg:text-4xl font-bold">
        What is camfecting
      </h1>

      <div class="text-sm lg:text-2xl mb-16">
        <span class="opacity-80 display-inline"> Camfecting is the criminal process by which a
          hacker breaks into a person's personal webcam
          with the goal of activating it without that person's
          consent. The first step in camfecting is to infect the
          computer. This infection usually occurs at the
          victim's own hands by downloading infected
          software (such as a Trojan horse). Through this
          software, the hacker gains access and can view
          anything and anyone within the field of view of the
          webcam. </span>
      </div>

      <div class="flex flex-col mb-3">
        <img src="public/images/SVG/new/Icon awesome-lock-open.svg" class="w-6"></img>
      </div>

      <h1 class="w-full my-3 text-xl lg:text-4xl font-bold">
        What can happen if someone hacks my webcam?
      </h1>

      <div class="text-sm lg:text-2xl mb-16">
        <span class="opacity-80 display-inline">
          Once a hacker gets access to your camera he can
          do whatever he wants. He can spy on you, your
          surroundings, he can record what is happening,
          plan a burglary when you're not at home or might
          even see a VISA that is in view. Whatever he sees,
          can be used against you. He can threaten you with
          whatever he recorded and can make your life as
          miserable as possible.
        </span>
        <a class="underline font-bold" style="color: #FF9912;" target="_blank" href="https://www.quora.com/Why-do-some-people-cover-their-laptop-cameras-with-tape-Is-it-just-paranoia">In this article</a>
        <span class="opacity-80 display-inline">
         you can read
          what happened to a certain person that didn't
          cover his webcam.
        </span>
      </div>

      <div class="flex flex-col mb-3">
        <img src="public/images/SVG/new/Icon awesome-eye.svg" class="w-6"></img>
      </div>

      <h1 class="w-full my-3 text-xl lg:text-4xl font-bold">
        How can I know if I'm being spied on?
      </h1>

      <div class="text-sm lg:text-2xl mb-16">
        <span class="opacity-80 display-inline">
          You can know if someone has access to your
          webcam by checking:
        </span>
        <span class="opacity-80 display-inline">
          <br><br>
          • <span class="font-bold" style="color: #45C4B0;">If the camera indicator light is on</span>: If your
          webcam indicator light is on or it's acting
          abnormally (you see a blinking LED) even
          though you haven't turned the webcam on, it's
          a sign that something might not be right.<br><br>
          • <span class="font-bold" style="color: #45C4B0;">Check browser extensions:</span> Reboot your
          computer and launch your browser. If the
          webcam light turns on the moment you open
          the browser, the problem is likely to be in a
          browser extension. But which one exactly?
          Deactivate your extensions one at a time to
          identify the culprit and take back control.
          Try running the webcam: Close all the
          programs and apps and activate your webcam.
          If you get an error message stating that your
          camera is already in use, it might be that your
          laptop's camera has been hacked... or there's
          an app running in the background<br><br>
          • <span class="font-bold" style="color: #45C4B0;">Run a malware scan:</span> If it turns out that an
          unfamiliar piece of software is secretly using
          your camera, scan your computer system for
          malware immediately. If it finds anything, move
          the file to quarantine. If it doesn't solve the
          problem and you still have suspicion that your
          camera is hacked, it's time to speak to a tech
          professional.
        </span>
      </div>

      <div class="flex flex-col mb-3">
        <img src="public/images/SVG/new/Icon metro-vpn-lock-1.svg" class="w-6"></img>
      </div>

      <h1 class="w-full my-3 text-xl lg:text-4xl font-bold">
        How do I protect myself
      </h1>

      <div class="text-sm lg:text-2xl mb-16">
          <span class="opacity-80 display-inline">• Cover your webcam with a </span>
          <span class="font-bold display-inline">post it</span>
          <span class="opacity-80 display-inline">or </span>
          <span class="font-bold display-inline">a hatch</span>
          <span class="opacity-80 display-inline"></span><br>• Install
          <span class="font-bold display-inline">Anti-malware-software</span>
          <span class="opacity-80 display-inline">(Bitdefender, Norton or Kaspersky)</span>
      </div>
    </div>
  </section>
</div>
<svg width="100%" class="mb-12" height="100%" viewBox="0 0 496 57" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M496 23.3461C496 23.3461 449.5 51.5 332.536 37.6529C139.228 14.7678 0 52.0052 0 55.9999C0 59.9947 0 -0.000579834 0 -0.000579834H496V23.3461Z" fill="#082434"/>
  </svg>

  <section id='btns' class="bg-white text-black border-b py-8">
    <div class="container px-8 mx-auto flex flex-wrap flex-col md:flex-row">

      <div class="w-full">
        <img src="public/images/SVG/new/newspaper-news-svgrepo-com.svg" class="w-6"></img>
      </div>

      <h1 class="w-full my-2 text-xl lg:text-4xl font-bold flex mt-3"> Articles </h1>

      <div class="w-full flex justify-center text-black my-4 rounded-lg overflow-hidden shadowBtnArts">
        <div class="w-4/5 p-3 bg-white">
          <div class=" text-sm lg:text-2xl">
            <span class="opacity-80 display-inline">
              3 Reasons Why You Should Be Scared About Your Laptop Webcam
            </span>
          </div>
        </div>


        <a target="_blank" href="https://www.forbes.com/sites/jeanbaptiste/2019/08/22/3-reasons-why-you-should-be-scared-about-your-laptop-webcam/?sh=6fff11674369" 
        class="w-1/5 p-3 flex justify-center center-items" style="background-color: #FF9912;">
          <img class="w-4 centerEl" src="public/images/SVG/new/Icon feather-external-link.svg"></img>
        </a>
      </div>

      <div class="w-full flex justify-center text-black my-4 rounded-lg overflow-hidden shadowBtnArts">
        <div class="w-4/5 p-3 bg-white">
          <div class=" text-sm lg:text-2xl">
            <span class="opacity-80 display-inline">
              Hacked Webcams: 15,000 webcams exposed online!
            </span>
          </div>
        </div>

        <a target="_blank" href="https://blog.malwarebytes.com/hacking-2/2019/09/15000-webcams-vulnerable-how-to-protect-webcam-hacking/" 
        class="w-1/5 p-3 flex justify-center center-items" style="background-color: #FF9912;">
          <img class="w-4 centerEl" src="public/images/SVG/new/Icon feather-external-link.svg"></img>
        </a>
      </div>

      <div class="w-full flex justify-center text-black my-4 mb-20 rounded-lg overflow-hidden shadowBtnArts">
        <div class="w-4/5 p-3 bg-white ">
          <div class=" text-sm lg:text-2xl">
            <span class="opacity-80 display-inline">
              Here's the reason why people cover up their webcam

            </span>
          </div>
        </div>

        <a target="_blank" href="https://us.norton.com/internetsecurity-privacy-reasons-why-people-cover-their-webcam"
         class="w-1/5 p-3 flex justify-center center-items" style="background-color: #FF9912;">
          <img class="w-4 centerEl" src="public/images/SVG/new/Icon feather-external-link.svg"></img>
        </a>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="public/scripts/script.js"></script>
  <script src="public/scripts/cookies.js"></script>
</body>

</html>